.order-summery-header{
  text-align: center;
}
.order-summery-button{
  display: block;
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.btn1{
  background-color: #FF3030;
}
.btn2{
  background-color: #FF9900;
}